homeless-frontend/node_modules/
dist/
target/
.cache/

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
homeless-backend/src/main/resources/static/
*.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/


### VS Code ###
.vscode/
